.content{
  width: fit-content;
  min-width: 75vh;
  margin-left: 20px;
  margin-top: 30px;
  line-height: 35px;
  min-height: 185px;
}

.title_input{
width: 500px;
}

.description_input{
width: 500px;
}

.title{
  margin-right: 120px;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
  word-wrap: break-word;
  max-width: 1350px;
  overflow-x: hidden;
}

.title-field {
  /* position: relative;/
  / adding-right: 120px;/
  / margin-right: 120px;*/

}

.description-input{
  font-size: 17px;
  line-height: 20px;
}

.description-field-label{
  font-weight: bold;
}

.description-label{
  font-size: 12px;
  font-weight: bolder;

}

.status-label{
  font-size: 12px;
  font-weight: bolder;
}

#edit-btn{
 position: absolute;
  right: 5px;
  top: 15px;
  margin: 20px;
}


#delete-btn{
  position: absolute;
  right: 5px;
  top: 65px;
  margin: 20px;
}

.in_progress{
  position: absolute;
  right:5px;
  top:115px;
  margin:20px;
  color:blue;
  font-weight: bold;
}

.manager{
  Width: 200px;
  }

.assignee_input{
 position: absolute;
  right: 5px;
  top: 115px;
  margin: 20px;
}

.description{
  word-wrap: break-word;
  width: 100%;
}

.user-inprogress{
  word-wrap: normal;
  position: absolute;
  right:  90px;
  top: 155px;
  font-weight: bold;
  font-size: 22px;
  width: 30px;
  text-align: center;

}
.lastname {
  top: 185px;
  right: 100px;
}

button:focus{
  background: #D01010;
}

#delete-btn:focus{
  color: #D01010;
}
.mat-dialog-actions{

  justify-content: right;
}
