<div class="container">
<!--  <h2 mat-dialog-title></h2>-->
  <button mat-raised-button color="primary" id=edit-btn (click)="editClick()"  > {{action}}</button>
  <button mat-raised-button color="accent" id="delete-btn" (click)="areUSure()"> Delete</button>

  <button mat-button color="warn" id="inprogress" (click)="activityChange()">{{activity}}</button>

  <div class="content">

    <div *ngIf="action!='Edit'; else elseBlock">
      <mat-form-field appearance="outline" >
        <input matInput class="title-field" type="text" [(ngModel)]="selectedTask.title" value="{{selectedTask.title}}"><br>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label class="description-field-label">Description:</mat-label>
        <input matInput class="description-input" type="text" [(ngModel)]="selectedTask.description" value="{{selectedTask.description}}">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label class="status-field-label">Status:</mat-label>
        <mat-select class="status-input" type="text" [(ngModel)]="selectedTask.status" value="{{selectedTask.status}}">
          <mat-option *ngFor="let status of statusType" [value]="status.name">
          {{status.name}}
          </mat-option>-
        </mat-select>
      </mat-form-field>
    </div>

    <ng-template #elseBlock>
      <div class="title">
        {{selectedTask.title}}
      </div>

      <div class="description">
        <label class="description-label">Description:</label> <br>
        {{selectedTask.description}}
      </div>
      <div class="status">
        <label class="status-label">Status:</label> <br>
        {{selectedTask.status}}
      </div>

    </ng-template>
  </div>

  <mat-divider></mat-divider>

  <app-comments></app-comments>

  <mat-dialog-actions class="mat-dialog-actions">
    <button mat-raised-button color="primary" id="close" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
