.container {
  width: 212px;
  margin: 25px 0 20px 15px;
  vertical-align: top;
  border-style: solid;
  color: black;
  background: #eeeeee;
  display: inline-block;
  word-wrap: break-word;

}

.list {
  margin: 0 10px 10px 10px;
  min-height: 60px;
  background: grey;
  border-radius: 4px;
  overflow: auto;

}

.box{
  padding: 20px 10px;

  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer ;
  background: white;
  font-size: 16px;
  margin: 3px 3px 3px 3px;
}

.clickable{
  position: absolute;
  width: 200px ;
}

h2{

  margin: 15px;
  font-size:  20px;
  font-weight: bold;
  text-align: center;
}

h1{
  margin: 20px 20px 0 30px;
  font-weight: bold;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-handle{
  position: relative;
  cursor: grab;
 }
.title-on-task{
  width: 85%;
  word-wrap: break-word;

}
