<div class="container">
  <h2 mat-dialog-title class="warning">Warning!</h2>

<mat-label class="info-text">
  All statuses will take default order and custom statuses will be moved to the end <br>
</mat-label>
  <mat-label class="info-text-next-line">
  You can change sequence in "More options"-> "Project settings"
  </mat-label>

  <mat-dialog-actions class="mat-dialog-actions">
    <button mat-raised-button id=close color="primary" (click)="close()"> Cancel </button>
    <button mat-raised-button color="accent" (click)="defaultStatus()"> Done </button>
  </mat-dialog-actions>
</div>
