#status-select{
  left: 200px;
}

#status{
  left: 200px;
}
mat-form-field{
  left: 200px;
}
mat-select{
  left: 200px;
}
.info-text{
margin:25px 25px 40px 25px;
  font-weight: bolder;
  width:20%;
  font-size: 15px;
 }
.warning{
  color:red;
  font-size: 18px;
  font-weight: bold;

}

.info-text-next-line{
  margin:25px 25px 40px 25px;
}


