<div class="container">
<h2 mat-dialog-title>Select status to delete</h2>

  <mat-form-field class="select-box" appearance="outline">
    <mat-label class="status-field-label">Status:</mat-label>
    <mat-select  appearance="outline" type="text" [(value)]=selectedStatus >
      <mat-option  *ngFor="let status of statusTypes" value="{{status.id}}">
        {{status.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()" >Cancel</button>
  <button mat-button color="warn" (click)="deleteStatus(selectedStatus)"> Delete </button>
</mat-dialog-actions>
</div>
