<div>

  <h2 mat-dialog-title>Add custom status</h2>

  <mat-dialog-content>
    <div >
      <mat-form-field appearance="outline">
        <mat-label> Name </mat-label>
        <input matInput
               placeholder="Name your status"
               class="form-control"
               id="title"
               required
               [(ngModel)]="newStatus.name"
               name="title">

      </mat-form-field>
    </div>

  </mat-dialog-content>


  <mat-dialog-actions class="mat-dialog-actions">
    <button mat-raised-button id="close" color="primary" (click)="close()">Close</button>
    <button mat-raised-button id="add-status" color="accent" (click)="saveStatus()">Done</button>
  </mat-dialog-actions>

</div>
