<div class="container">
  <!--  <h2 mat-dialog-title></h2>-->
  <h2>Sequence of columns</h2>
  <div
    cdkDropList
    [cdkDropListData]="order2"
    class="list"
    (cdkDropListDropped)="drop($event)"
  >
    <div>
      <ng-container *ngFor="let status of order2">
        <div  class="box" cdkDrag>
          <div>
            {{status.name}}
          </div>
          <div class="drag-handle"  (mousedown)="draging(status)" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 23 23">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>

  <mat-dialog-actions class="mat-dialog-actions">
    <button mat-raised-button color="primary" id="close" (click)="close()">Close</button>
    <button mat-raised-button color="accent" id=edit-btn (click)="saveColumns();close()"  > Save</button>
  </mat-dialog-actions>

