<div class="container">
<h2 mat-dialog-title>Select status to delete</h2>

  <mat-form-field id="status" class="select-box" appearance="outline">
    <mat-label class="status-field-label">Status:</mat-label>
    <mat-select  appearance="outline" type="text" [(value)]=selectedStatus >
      <mat-option  *ngFor="let status of orderStatus" value="{{status.id}}">
        {{status.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-dialog-actions class="mat-dialog-actions">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
    <button mat-raised-button color="accent" (click)="deleteStatus(selectedStatus)">Save</button>
  </mat-dialog-actions>

</div>
