
<button mat-raised-button color="primary" id=add-comment-btn *ngIf="!isInputVisible" (click)="toggleInput()">Add comment</button>
<mat-form-field id=add-comment-input *ngIf="isInputVisible" appearance="outline" >
<input matInput placeholder="Comment"  [(ngModel)]="commentText" value="{{commentText}}">
</mat-form-field>
<div id="input-button">
<button mat-raised-button style="background-color:#A50087;color:white " id=cancel *ngIf="isInputVisible" (click)="toggleInput();clearInput();">Cancel</button>
<button mat-raised-button color="primary" id=save *ngIf="isInputVisible" (click)="toggleInput(); saveComment();clearInput()">Done</button>
</div>

<div class="container">

<div id="background" *ngFor="let comment of comments2; index as i">
  <div class="info-bar">
  <div class="grid-child-element-status"> {{comments2[i].status }} </div>
  <div class="grid-child-element-author"> {{comments2[i].authorId }}</div>
  </div>
  <br>
  <div class="text">
    {{comments2[i].text }}
  </div>
</div>
</div>
